#head {
    text-align: center;
    color: white;
    background-image: url("./img/h_img.jpg");
    background-size: cover;
    height: 820px;
    width: 100%;
    font-size: larger;
 }
.logo{
    margin-top: 15%;
}
.mouse {
    margin: 290px;
}
.description {
    text-align: center;
    margin-top: 2.5%;
}
#services{
    
    margin-top: 2.5%;
    text-align: center;
    color: white;
    background-image: url("./img/s_image.jpg");
    background-size: cover;
    height: 380px;
    width: 100%;
    padding-top: 120px;
}
.pen {
    margin-left: 110px;
}
.dev {
    margin-left: 520px;
}
.list {
    margin-left: 470px;
    margin-bottom: 0.7%;
}
h2 {
    text-align: center;

}
.work {
    margin: 80px;
    height: 210px;
    width: 210px;
}

.blank {
    margin: 80px;
    height: 210px;
    width: 210px;

}

.day {
    margin: 80px;
    height: 210px;
    width: 210px;
}

.us {
    margin-bottom: 50%;
}

#contact {
    color: white;
    margin-bottom: 25%;
    background-image: url("./img/c_image.jpg");
    width: 100%;
    height: 685px;

}
#do{
    margin-top: 4%;
}
.port {
    margin-top: 5%;
}



