#head {
    text-align: center;
    color: white;
    background-image: url("./img/h_img.jpg");
    background-size: cover;
    height: 820px;
    width: 100%;
    font-size: larger;
 }
.logo{
    margin-top: 15%;
}
.mouse {
    margin: 290px;
}
.description {
    text-align: center;
    margin-top: 2.5%;
}
#services{
    
    margin-top: 2.5%;
    text-align: center;
    color: white;
    background-image: url("./img/s_image.jpg");
    background-size: cover;
    height: 380px;
    width: 100%;
    padding-top: 120px;
}
h2{
    text-align: center;
}

#contact {
    color: white;
    background-image: url("./img/c_image.jpg");
    width: 100%;
    height: 685px;
    

}
.contactTitle{

    position: relative;
    top: 100px;
    text-align:center;
}
.message {
    width: 50%;
    padding-bottom: 300px;
    margin-left: 25%;
    margin-bottom: 30%;
    background: transparent;
    text-decoration-color: white;
}
#NN {
    margin-left: 550px;
    background: transparent;
    text-decoration-color: white;
}
#EM {
    margin-right: 250px;
    background: transparent;
    text-decoration: white;
    margin-top: 8%;
}
#sub {
    
    background: transparent;
    color: white;
    position: relative;
    top: 25rem;
    right: 25rem;
}

.port {
    margin-top: 4%;
}

#social {
    margin-left: 500px;
    padding: 20px;
    margin-top: 2%;
}
.img1  {
    padding-left: 20vh;
}
.img2 {
    padding-left: 25vh;
}
.img3 {
    padding-left: 30vh;
}
.we {
    margin-top: 4%;
}
.pen-hidden{
    display: none;
}
.list-hidden{
    display: none;
}
.dev-hidden{
    display: none;
}

.port {
    margin-top: 4%;
}.gray{
   margin-left: 200px;
   padding-bottom: 5%;
}
.blank-hidden{
    display: none;
}
.ontario{
    margin-left: 100px;
}
.ontario-hidden{
    display: none;
}
.orange-hidden{
    display: none;
}
.hair{
    margin-left: -100px;
}
.hair-hidden{
    display: none;
}
.elena{
    margin-left: 200px;
    padding-bottom: 15%;
 }
 .elena-hidden{
     display: none;
 }
 .button{
    margin-left: 100px;
}
.button-hidden{
    display: none;
}
.burned-hidden{
    display: none;
}
.giraffe{
    margin-left: -100px;
}
.giraffe-hidden{
    display: none;
}

h6 {
    text-align: center;
    color: black;
}
#social {
    margin-left: 500px;
    padding: 20px;
    margin-top: 2%;
}







